#.idea
.idea

#.gitignore
!.gitignore

#classes
WebRoot/WEB-INF/classes

#jdbc-config
src/main/config/jdbc.properties

#hibernate
src/main/config/hibernate.cfg.xml

#target
target

#lib
lib

#iml,项目配置文件
*.iml
